{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "requireConfigFile": false,
      "ecmaVersion": 2020,
      "babelOptions": {
        "presets": ["@babel/preset-react"]
      }
    },
    "plugins": [
      "react"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ],
    "settings": {
      "react": {
        "version": "detect",
        "pragma": "React",
        "pragmaFrag": "React.Fragment",
        "throwOnNamespace": true
      }
    }
}
